:host {
  color: #fff;
}

/* 标题区域 */
.title-container {
  position: absolute;
  top: 10vh;
  width: 100%;
  transition: opacity 0.8s ease-in-out;
}

.title {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  animation: shadowIn 1s ease-in;
}

.subtitle {
  font-size: 28px;
  text-align: center;
  margin-top: 6vh;
  animation: fadeIn 2s ease-in;
}

/* 分数区域 */
.game-score {
  margin-top: 12vh;
  font-size: 64px;
  text-align: center;
  transition: opacity 0.8s ease-in-out;
}

/* 结算区域 */
.game-end {
  font-size: 48px;
  transition: opacity 0.8s ease-in-out;
  text-align: center;
}

.high-score {
  display: flex;
  align-items: center;
  justify-content: center;
}

.high-score .icon {
  width: 48px;
  height: 48px;
  fill: #FFFFFF;
}

.high-score .value {
  margin-left: 8px;
}

/* 动画关键帧 */
@keyframes shadowIn {
  from {
    text-shadow: 0 0 1rem #fff, 2rem -2rem 1rem #fff, 2rem 2rem 1rem #fff, -2rem 2rem 1rem #fff, -2rem -2rem 1rem #fff;
    opacity: 0;
  }

  to {
    text-shadow: 0 0 0 #fff;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* 通用工具类 */
.opacity-0 {
  opacity: 0;
}

.display-none {
  display: none;
}